*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: #040714;
    font-family: 'Roboto', sans-serif;

}

.menu{
    height: 120vh;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-nav{
    position: fixed;
    padding: 25px 0;
    width: 100%;
}

.menu-nav::after, .menu-nav::before {
        content: '';
        display: table;
        clear: both;
}

.menu-nav ul li{
    float: right;
    list-style: none;
    
}

.menu-nav ul li a{
    background: #1F2128;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 35px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    transition: .3s;
}
.menu-nav ul li a:hover{
    background: #F9F9F9;
    color: #040714;
}


.bunner-content{
    margin-top: -110vh;
    padding: 0 50px;
}

.content-logo-item1{
    width: 150px;
    margin-top: 50px;
}

.content-item2{
    max-width: 400px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.content-item3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.plano-card h1{
    max-width: 200px;
    color: white;
    font-size: 28px;
}

.plano-card h1 samp{
    color: #f9f9f977;
    font-size: 14px;
}

.plano-card p{
    color: #f9f9f977;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}
#card1{
    margin-bottom: 74px;
}

.plano-card a{
    background: #0063E5;
    color: white;
    padding: 20px 83px;
    letter-spacing: 1px;
    font-size: 18px;
    top: 62px;
    border-radius: 6px;
    transition: .3s;
}
.plano-card a:hover{
    background: #0483EE;
}

.content-item3 .preco{
    width: 100%;
    margin-top: 40px;
    font-size: 11px;
    grid-column: 1 / -1;
    color: #f9f9f977;
}

.franquias img{
    margin-top: 50px;
    width: 600px;
}






.assista{
    margin-top: 1vh;
}

.assista-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.assista-item1{
    color: white;
    margin: auto 50px;
}

.assista-item1 p{
    font-size: 18px;
    line-height: 1.9;
    color: #f9f9f977;
}

.assista-item1 h1{
    font-size: 32px;
    padding: 20px 0;
}
.assista-item2 img{
    width: 650px;
}



.originais{
    text-align: center;
    margin-top: 120px;
}


.originais-title h1{
    color: white;
    font-size: 34px;
}
.originais-title p{
    color: #f9f9f977;
    margin-top: 20px;
    font-size: 18px;
}

.originais-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.originais-cards img{
    width: 407px;
    margin: 20px auto;
    border-radius: 6px;
}




.teste-gratis{
    height: 200px;
}
.teste-gratis-container{
    text-align: center;
    margin: 100px 0;
}
.teste-gratis-container a{
    background-color:#0063E5 ;
    padding: 20px 150px;
    color: #F9F9F9;
    font-size: 18px;
    border-radius: 6px;
    transition: .6s;
}
.teste-gratis-container a:hover{
    background-color: #0483EE;
}



.baixar{
    margin: auto;
}
.baixar-container{
    background-image: url(img/Module_LionKing.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 90%;
    margin: auto;
}
.baixar-content{
    max-width: 45%;
    float: right;
    margin: 20% 5% 0 0;
    color: #F9F9F9;
}
.baixar-content h1{
    color: #ffffff;
    font-size: 42px;
}
.baixar-content p{
    margin-top: 20px;
    color: #f9f9f977;
    font-size: 20px;
}






.diversao-container{
    margin: auto;
}
.diversao-title{
    max-width: 90%;
    text-align: center;
    margin: auto;
}
.diversao-title h1{
    font-size: 42px;
    color: #ffffff;
    padding: 20px;
}
.diversao-title p{
    font-size: 20px;
    color: #f9f9f977;
    padding: 0 0 30px 0;
}
.diversao-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin:0 auto;

}
.diversao-cards img{
    max-width: 90%;
    margin:10px auto;

}